
body{
    background-color: #272727;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.b_header{
    display: block;
}
.b_logo{
    margin: 10px;
}


.first_menu_header{
    background-color:black;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first_menu_header a{
    color: grey;
    text-decoration: none;
}


.central_menu_header{
    display: flex;    
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin-top: -5%;
    font-size: 14px;    
}

.right_menu_header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 4%;    
}
.b_profile{
    margin-right: 10px;
}


.b_second_menu_header{
    background-color: black;
    height: 70px; 
     
}
.b_second_menu_header a{
    color: white;
    text-decoration: none;
}
.second_menu_header{
    display: flex;    
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    margin-left: 37%;
    margin-right: 30%;
    margin-top: -3%;
}


.b_tendencia{
    display: block;
}
.title_tendencia{
    display: flex;
    margin-top: 20px;
    margin-bottom: -30px;
    margin-left: 12%;
}
.title_tendencia a{
    color: white;
    text-decoration: none;    
    font-size: 25px;    
}
.gallery_tendencia{       
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.b_games{
    width: 30%;
    margin: 1%;    
    font-size: 15px;       
}
.gallery_tendencia img{
    width: 100%;   
    border-radius: 5%;
}
.info_games{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.b_footer{
    margin-top: 5%;
    background-color:#101010;
    height: 120px;
    display: flex;    
    align-items: center;  
    justify-content: center;  
}
.b_info1_footer{
    display: flex;    
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}
.b_info1_text_footer{
    width: 100%;    
    align-items: center;
}
.b_info2_footer{
    display: flex;    
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}
.b_info2_text_footer{
    width: 100%;    
    align-items: center;
}    
.b_info3_footer{
    display: flex;    
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}
.b_info3_text_footer{
    width: 100%;
    align-items: center;
}  



